<div class="pkg">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <div class="pkg_menu_pnl active">
                    <a href="">
                        <img src="/images/package/pkg-1.jpg" alt="" class="pkg_menu_pnl__img">
                    </a>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="pkg_menu_pnl active">
                    <a href="">
                        <img src="/images/package/pkg-1.jpg" alt="" class="pkg_menu_pnl__img">
                    </a>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="pkg_menu_pnl active">
                    <a href="">
                        <img src="/images/package/pkg-1.jpg" alt="" class="pkg_menu_pnl__img">
                    </a>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="pkg_menu_pnl active">
                    <a href="">
                        <img src="/images/package/pkg-1.jpg" alt="" class="pkg_menu_pnl__img">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>