@include b(dropdown) {
    position: relative;
    
    &.open {
        .dropdown-menu {
            display: block;
        }
    }

    @include m(toggle) {
        &:focus {
            outline: none;
        }
    }
}

@include b(dropdown-menu) {
    position: absolute;
    top: 100%;
    left: 0;
    // width: 100px;
    min-width: 100%;
    z-index: $zindex-dropdown;
    display: none;
    font-size: $font-size-base;
    text-align: left;
    background-color: rgba(34, 33, 33, 0.8);
    border-radius: 0 0 2px 2px;
    overflow: hidden;
    
    // &.pull-right {
    //     right: 0;
    //     left: auto;
    // }

    > li > a {
        display: block;
        padding: 8px 10px;
        clear: both;
        line-height: $line-height-base;
        white-space: nowrap;
        color: $brand-primary;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $gray-base;
            background-color: $brand-primary;
            border-bottom-color: $brand-primary;
        }
    }

    > li:last-child {
        > a {
            border-bottom: none;
        }
    }
}