//
// Navs
// --------------------------------------------------
.nav {
    @extend .clearfix;
    margin-bottom: 0;
    padding-left: 0; // Override default ul/ol
    list-style: none;

    > li {
        position: relative;
        display: block;

        > a {
            position: relative;
            display: block;
            
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }

    > li > a > img {
        max-width: none;
    }
}

//
// Navbars
// --------------------------------------------------
.navbar {
    @extend .clearfix;
    position: relative;
    border-radius: 0;
    background-color: #fff;
}

// Fix the top/bottom navbars when screen real estate supports it
.navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-navbar;
}

.navbar-left {
    float: left !important;
}

.navbar-right {
    float: right !important;
    > li > a:hover {
        border-bottom-color: transparent;
    }
}

// Navbar heading
.navbar-header {
    @extend .clearfix;
    float: left;
}

// Brand/project name
.navbar-brand {
    float: left;
    margin-right: $navbar-margin-horizontal;
    padding: $navbar-padding-vertical $navbar-padding-horizontal;
    line-height: 20px;
    font-size: 20px;
    color: $brand-primary;
    
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.navbar-nav {
    float: left;
    margin: 0;

    > li {
        float: left;
        
        &:hover {
            background-color: $gray-lightest;
        }
        
        &:hover > a {
            color: $brand-primary;
        }
    }

    > li > a {
        padding: $navbar-padding-vertical $navbar-padding-horizontal;
        line-height: $line-height-computed;
        text-decoration: none;
        font-size: $font-size-large;
        color: $gray;
    }
}

.navbar_search {
    display: inline-block;

    .form-control-wrapper {
        margin-top: 15px;
        margin-left: 30px;
    }

    .form-control {
        padding-right: 30px;
    }

    .form-control-icon {
        right: 10px;
        left: auto;
    }
}