<div class="home">
    <div class="home__wrapper"></div>
    <div class="home_tips">
        <div class="container">
            <span>往届资源库：</span>
            <a href="">2009</a>
            <a href="">2009</a>
            <a href="">2009</a>
            <a href="">2009</a>
        </div>
    </div>

    <div class="home_nav">
        <div class="container">
            <div class="home_nav__logo">
                <a class="" href="">
                    特色资源库 2015
                </a>
            </div>

            <div class="home_nav__navbar">
                <a class="" href="">佛教雕塑艺术</a>
            
                <a class="" href="">佛教雕塑艺术</a>
            
            
                <a class="" href="">佛教雕塑艺术</a>
            
            
                <a class="" href="">佛教雕塑艺术</a>
            
            
                <a class="" href="">佛教雕塑艺术</a>
            </div>
        </div>
    </div>
    
    
    <div class="container mg-tp-50 mg-bt-50">
        <div class="row">
            <div class="col-xs-4 home_pkg_wrapper">
                <div class="home_pkg active">
                    <div class="home_pkg__pnl">
                        <a href="">
                            <h3 class="home_pkg__title">
                                佛教雕塑艺术资源包
                            </h3>
                            <p class="home_pkg__enter">
                                <i class="fa fa-hand-o-right"></i>
                                进入
                            </p>
                            <img src="/images/home/pkg-1.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 home_pkg_wrapper">
                <div class="home_pkg active">
                    <div class="home_pkg__pnl">
                        <a href="">
                            <img src="/images/home/pkg-1.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 home_pkg_wrapper">
                <div class="home_pkg active">
                    <div class="home_pkg__pnl">
                        <a href="">
                            <img src="/images/home/pkg-1.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="home_pkg_line"></div>
            <div class="col-xs-4 col-xs-offset-2 home_pkg_wrapper">
                <div class="home_pkg reverse active">
                    <div class="home_pkg__pnl">
                        <a href="">
                            <h3 class="home_pkg__title">
                                佛教雕塑艺术资源包
                            </h3>
                            <img src="/images/home/pkg-1.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 home_pkg_wrapper">
                <div class="home_pkg reverse active">
                    <div class="home_pkg__pnl">
                        <a href="">
                            <img src="/images/home/pkg-1.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="home__txt_content">
        <div class="container">
            <h2 class="home__title">北京服装学院 2015 年特色资源库建设</h2>
            <h3 class="home__subtitle">CHARACTERISTIC RESOURCE LIBRARY SYSTEM</h3>

            <p class="home__desc">
                北京服装学院特色资源库 2014 年项目选取 3 个主题资源包进行建设。同时对原有的特色资源统一管理平台也需要进一步完善和推广，使其更好地为教学、科研服务。该项目的建设将有力地促进学校站在全局的高度，对全校特色资源进行统一规划、开发建设及整合，很好地推动了全校特色资源建设速度。通过进一步的开发建设，将使我校的特色资源更好地服务于教学、科研和社会。
            </p>

        </div>
    </div>

    <div class="home_tips">
        <div class="container">
            <span>北京市教委科技创新平台 &nbsp; &nbsp; &nbsp;</span>
            <span>北京服装学院 &copy;</span>
        </div>
    </div>
</div>