<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <a class="navbar-brand" href="/package/1">
                    <i class="fa fa-chevron-circle-left"></i>
                    返回
                </a>
            </div>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown__toggle" href="#">
                        <i class="fa fa-bars"></i>
                        分类
                    </a>

                    <ul class="dropdown__menu">
                        <div class="multi_menu">
                            <ul class="multi_menu__lv1">
                                <li>
                                    <a href="">
                                        第一级菜单 1.1
                                        <i class="fa fa-chevron-right"></i>
                                    </a>

                                    <ul class="multi_menu__lv2">
                                        <li>
                                            <a href="">第二级菜单 1.1.1阿斯顿发生阿斯顿发</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.1.2</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.1.3</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.1.4</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.1.5</a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="">
                                        第一级菜单 1.2
                                        <i class="fa fa-chevron-right"></i>
                                    </a>

                                    <ul class="multi_menu__lv2">
                                        <li>
                                            <a href="">第二级菜单 1.2.1阿斯顿发生阿斯顿发</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.2.2</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.2.3</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.2.4</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.2.5</a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="">
                                        第一级菜单 1.2
                                        <i class="fa fa-chevron-right"></i>
                                    </a>

                                    <ul class="multi_menu__lv2">
                                        <li>
                                            <a href="">第二级菜单 1.2.1阿斯顿发生阿斯顿发</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.2.2</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.2.3</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.2.4</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.2.5</a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="">
                                        第一级菜单 1.2
                                        <i class="fa fa-chevron-right"></i>
                                    </a>

                                    <ul class="multi_menu__lv2">
                                        <li>
                                            <a href="">第二级菜单 1.2.1阿斯顿发生阿斯顿发</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.2.2</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.2.3</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.2.4</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.2.5</a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="">
                                        第一级菜单 1.2
                                        <i class="fa fa-chevron-right"></i>
                                    </a>

                                    <ul class="multi_menu__lv2">
                                        <li>
                                            <a href="">第二级菜单 1.2.1阿斯顿发生阿斯顿发</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.2.2</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.2.3</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.2.4</a>
                                        </li>
                                        <li>
                                            <a href="">第二级菜单 1.2.5</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </ul>
                </li>

                <form class="navbar_search">
                    <div class="form-control-wrapper">
                        <input class="form-control" type="text">
                        
                        <a href="">
                            <i class="form-control-icon fa fa-search"></i>
                        </a>
                    </div>
                </form>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="" href="#">
                        资源包
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>